venv
*.pyc
*.sqlite3
staticfiles
static/bower_components/*
client/dist/*
employees/migrations/*
!employees/migrations/__init__.py
main/migrations/*
!main/migrations/__init__.py
tasks/migrations/*
!tasks/migrations/__init__.py
invitation/migrations/*
!invitation/migrations/__init__.py

