<html>
    <head>
        <title> Lincor </title>
    </head>
    <body>
        <form action="/invite/" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="field">
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <input type="hidden" name="invite_uid" id="hidden_uid">
            <input type="submit" value="Submit" />
        </form>
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            var string = getParameterByName('i');
            $('#hidden_uid').attr("value", string);
        });

        function getParameterByName(name) {
            name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
            var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
                results = regex.exec(location.search);
            return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
        }
    </script>
</html>
