{% load staticfiles %}

<!doctype html>
<html class="no-js">
    <head>
        <title>Lincor Web-app</title>
        <base href="/app">
        <!--<meta name="description" content="">-->
        <!--<meta name="viewport" content="width=device-width">-->

        <link rel="stylesheet" href="{% static 'bower_components/dist/angular-chart.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    </head>
    <body ng-app="lincorFeApp">
        {% verbatim %}
        <div class="app" ng-controller="rootController">
            <div class="navbar navbar-default">
                <ul class="nav navbar-nav">
                    <li class=""><a ui-sref="jobs">Jobs</a></li>
                    <li class=""><a ui-sref="quotes">Quotes</a></li>
                    <li class=""><a ui-sref="performance">Performance</a></li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown pull-right"><a href="#" class="dropdown-toggle"
                                            data-toggle="dropdown" role="button">Extra</a>
                        <ul class="dropdown-menu">
                            <li> <a ui-sref="newQuote"> New Quote </a></li>
                            <li> <a ui-sref="settings"> Settings </a> </li>
                            <li> <a href="javascript:;" ng-click="logout()"> Logout </a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div ui-view></div>
        </div>
        {% endverbatim %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="{% static 'bower_components/jquery/dist/jquery.js' %}"></script>
        <script src="{% static 'bower_components/angular/angular.js' %}"></script>
        <script src="{% static 'bower_components/angular-resource/angular-resource.js' %}"></script>
        <script src="{% static 'bower_components/angular-route/angular-route.js' %}"></script>
        <script src="{% static 'bower_components/Chart.js/Chart.js' %}"></script>
        <script src="{% static 'bower_components/angular-chart.js/dist/angular-chart.js' %}"></script>
        <script src="{% static 'bower_components/bootstrap/dist/js/bootstrap.js' %}"></script>
        <script src="{% static 'bower_components/angular-modal-service/dst/angular-modal-service.js' %}"></script>
        <script src="{% static 'bower_components/angular-bootstrap/ui-bootstrap.js' %}"></script>
        <script src="{% static 'bower_components/ng-file-upload/ng-file-upload.js' %}"></script>
        <script src="{% static 'bower_components/angular-sanitize/angular-sanitize.js' %}"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <script src="{% static 'bower_components/Chart.js/Chart.min.js' %}"></script>
        <script src="{% static 'bower_components/dist/angular-chart.js' %}"></script>
        <script src="{% static 'bower_components/angular-ui-router/release/angular-ui-router.js' %}"></script>

            <!-- build:js({.tmp,app}) scripts/scripts.js -->
            <script src="{% static 'app.js' %}"></script>
            <script src="{% static 'services.js' %}"></script>
            <script src="{% static 'rootController.js' %}"></script>

            <script src="{% static 'performance/performance.js' %}"></script>

            <script src="{% static 'settings/foremen/foremen.list.js' %}"></script>
            <script src="{% static 'settings/foremen/foreman.detail.js' %}"></script>
            <script src="{% static 'settings/foremen/foreman.create.js' %}"></script>
            <script src="{% static 'settings/foremen/foreman.services.js' %}"></script>
            <script src="{% static 'settings/inventory/inventory.js' %}"></script>


            <script src="{% static 'quotes/quotes.list.js' %}"></script>
            <script src="{% static 'quotes/quotes.create.js' %}"></script>
            <script src="{% static 'quotes/quotes.services.js' %}"></script>

            <script src="{% static 'jobs/jobs.list.js' %}"></script>
            <script src="{% static 'jobs/jobs.detail.js' %}"></script>
            <script src="{% static 'jobs/jobs.create.js' %}"></script>
            <script src="{% static 'jobs/jobs.module.js' %}"></script>
            <script src="{% static 'jobs/jobs.services.js' %}"></script>
            <script src="{% static 'jobs/jobs.routes.js' %}"></script>

            <script src="{% static 'teams/teams.service.js' %}"></script>
            <!-- endbuild -->
    </body>
</html>
