{% load staticfiles %}

<html>
    <head>
        <title> Lincor </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
            if(localStorage.getItem('token')) {
                $.ajax({
                  type : "POST",
                  url : "/api/verify-token/",
                  async : false,
                  data : {
                    token : localStorage.getItem('token')
                  },
                  success : function(data) {
                    window.location.replace("/");
                  }
              });
            }
        </script>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'styles/index.css' %}">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="login">
            <div class="navbar navbar-default">
            </div>
            <div class="container">
                <div class="inner-container">
                    <form role="post">
                        <span class="title">Sign In</span>
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.username }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4">
                                {{ form.password }}
                            </div>
                        </div>
                        <button type="button" onclick="onSubmit()" class="btn btn-submit">Submit</button>
                        {% csrf_token %}
                    </form>
                    Or
                    <div class="sign-in">
                        <a href="/login/sign_up">Click here to sign up</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>
        function onSubmit() {
            var username = $("#id_username").val();
            var password = $("#id_password").val();
            $.ajax({
              type : "POST",
              url : "/api/login/",
              data : {
                username : username,
                password : password
              },
              success : function( data ) {
                localStorage.setItem('token', data['token']);
                localStorage.setItem('team', data['employee']['team']);
                localStorage.setItem('is_admin', data['employee']['is_admin']);
                window.location.replace("/");
              }
            });
        }
    </script>
</html>
