<div class="quotes">
    <div class="category">
        Quotes
    </div>
    <div class="container pull-left">
        <div ng-repeat="(index, quote) in quotes" class="row" ng-if="quote.state == 0">
            <div>
                <div class="col-sm-4" width="10%">
                    <img ng-src="{{ quote.images.urls[0] }}" width="72">
                </div>
                <div class="col-sm-4" width="20%">
                    Address {{ quote.house.address }} <br>
                    Quote: {{ quote.quote }}
                </div>
                <div class="col-sm-4">
                    <button class="btn btn-success" ng-click="bidAccepted(quote.pk)">Quote Accepted</button>
                    <br>
                    <button class="btn btn-danger" ng-click="bidDeclined(quote.pk)">Quote Not Accepted</button>
                </div>
            </div>
            </div>
        </div>
    </div>
     <!--Rejected Quotes-->
     <div class="container pull-left">
        <div ng-repeat="(index, quote) in quotes" class="row" ng-if="quote.state == 2">
            {{ quote.house.address }}
        </div>
     </div>
</div>
