<form role="form" ng-submit="createQuote()">
    <div class="row">
        <div class="form-group col-md-3">
            <input type="number" id="address" ng-model="quote.quote"
                   class="form-control" placeholder="Quote Price">
        </div>
    </div>

    <div class="row existing-house">
        <div class="form-group col-md-3">
            <select ng-model="house" id="House" class="form-control"
                ng-options="house.pk as house.address for house in houses">
            </select>
        </div>
        <button type="button" ng-click="toggleNewHouse()" class="btn btn-default">Add a new house</button>
    </div>

    <div class="row new-house">
        <div class="form-group col-md-3">
                <input type="text" ng-model="newHouse.address" id="address"
                       class="form-control" placeholder="Address">
        </div>
            <button type="button" ng-click="toggleNewHouse()"
                class="btn btn-default">Choose from existing houses</button>
    </div>
    <div class="row">
        <div class="form-group col-md-5">
            <textarea class="form-control" placeholder="Enter a description..."
                      rows="5" ng-model="quote.description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            <label>Select any photos you want to upload</label>
            <input type="file" ngf-select ng-model="files" name="file"
                   accept="image/*" ngf-max-size="2MB" required
                   ngf-multiple="true"
                   ngf-model-invalid="errorFile">
        </div>
    </div>

    <input type="submit" class="btn btn-primary">
</form>