<form role="form" class="quote-create">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Address
                <button type="button" ng-click="showNewHouse = !showNewHouse" class="btn btn-default">Add a new address</button>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row existing-house" ng-show="showNewHouse==false">
                        <div class="form-group col-md-3">
                            <select ng-model="house" id="House" class="form-control"
                                ng-options="house.pk as house.address for house in houses">
                            </select>
                        </div>
                    </div>
                    <div class="row new-house" ng-show="showNewHouse==true">
                        <div class="form-group col-md-7">
                            <input type="text" ng-model="newHouse.address.line1"
                                   class="form-control" placeholder="Line 1">
                        </div>
                        <div class="form-group col-md-7">
                            <input type="text" ng-model="newHouse.address.line2"
                                   class="form-control" placeholder="Line 2">
                        </div>
                        <div class="form-group col-md-7">
                            <input type="text" ng-model="newHouse.address.city"
                                   class="form-control" placeholder="City">
                        </div>
                        <div class="form-group col-md-7">
                            <input type="text" ng-model="newHouse.address.state"
                                   class="form-control" placeholder="State">
                        </div>
                        <div class="form-group col-md-7">
                            <input type="text" ng-model="newHouse.address.zip"
                                   class="form-control" placeholder="Zip">
                        </div>
                        <div class="form-group col-md-7">
                            <input type="text" ng-model="newHouse.address.country"
                                   class="form-control" placeholder="Country">
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <textarea class="form-control" placeholder="Enter a description..."
                                      rows="5" ng-model="quote.description"></textarea>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="form-group col-md-5">
                            <input type="number" ng-model="quote.quote"
                                   class="form-control" placeholder="Quote Price">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Select any photos you want to upload</label>
                            <input type="file" ngf-select ng-model="files" name="file"
                                   accept="image/*" ngf-max-size="2MB" required
                                   ngf-multiple="true" classs="form-control" ngf-change="readURLs($files, $file, $newFiles, $duplicateFiles, $invalidFiles, $event)"
                                   ngf-model-invalid="errorFile">
                        </div>
                    </div>
                    <!--<div ng-if="images">-->
                        <div class="row" ng-repeat="imageTuple in images">
                            <div class="col-md-4" ng-repeat="image in imageTuple">
                                <a href="#">
                                    <div image-preview img-src="{{ image }}" ng-class="{selected: $parent.$index == 0 && $index == 0}"
                                         outerindex="{{ $parent.$index }}" innerindex="{{ $index }}"></div>
                                </a>
                            </div>
                        </div>
                    <!--</div>-->
                </li>
            </ul>
             <div class="panel-footer">
                <button class="btn btn-primary pull-right" ng-click="createQuote()">Submit</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</form>