/*@import url(http://nicholastodor.com/sf/usesf.css);*/

body {
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.navbar {
    margin-bottom: 0;
    background-color: #122b40;
}

.navbar-nav>li>a {
    color: white !important;
    font-size: medium;
}

/*************** JOB DETAIL ******************/

.job-detail .container {
    padding-top: 0;
}

.job-detail .banner {
    background-color: #d9d9d9;
    height: 120px;
    position: relative;
}

.job-detail .col-md-4,
.job-detail .col-md-8 {
    height: 100%;
}

.job-detail .banner .row {
    height: 100px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 650px;
}

.job-detail .banner .row .address h2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.job-detail .banner .row .image {
    top: 50%;
    height: 100px;
    margin-top: -50px;
}

.job-detail .banner .row .image img {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.job-detail .container {
    width: 100%;
}

.job-detail .detail {
    margin-top: 20px;
}

.job-detail .detail .property {
    font-size: large;
    line-height: 2em;
}

.job-detail .check-ins>.row {
    padding-bottom: 20px;
}

.title {
	padding-top: 10px;
	text-align: left;
}

@media (min-width: 1200px) {
    .container{
        max-width: 770px;
        padding-left: 10px;
        /*padding-right: 250px;*/
    }
}

/************* JOB LIST ***************/

.jobs {
    font-family: 'Lato', sans-serif;
}

hr {
    margin-top: 1px;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: auto;
}

.category {
    padding: 10px;
    font-size: 190%;
    color: #515151;
}

.postings {
    padding: 10px;
    font-size: 170%;
}

.postings a {
    text-decoration: none;
    color: #515151;
}

/**************** PERFORMANCE *******************/

.container {
    margin: 0 auto;
    padding: 50px;
    width: 650px;
}

.sidebar {
    float: left;
    width: 150px;
    min-height: 400px;
    background-color: #808080;
}

.sidebar a {
    text-decoration: none;
}

.sidebar ul {
    list-style-type: none;
}

.graph {
    overflow:auto;
    padding-left: 5px;
}

/**************** QUOTES *******************/
