<div class="modal-header">
    <h4>Enter a new item</h4>
</div>
<div class="modal-body">
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Remaining <br>Quantity</th>
            <th>Quantity to<br> check-out</th>
            <th></th>
        </thead>
        <tbody>
            <tr ng-repeat="(index, item) in items">
                <td class="col-md-4">
                    {{ item.name }}
                </td>
                <td class="col-lg-2">
                    {{ item.total_quantity }}
                </td>
                <td class="col-md-2">
                    <input type="number" class="form-control" ng-model="check_out_quantity">
                </td>
                <td>
                    <button class="btn btn-success" ng-click="checkOut(item, check_out_quantity)">Check out</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">Done</button>
</div>