<form class="creation-form" role="form">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>Create a new job</span>
                <button type="button" ng-click="showNewHouse = !showNewHouse" class="btn btn-default">Add a new address</button>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="address"> Address: </label>
                            <input type="text" id="address" ng-model="job.house.address" class="form-control">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="budget"> Budget </label>
                            <input type="text" id="budget" ng-model="job.budget" class="form-control">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="current_hours_spent"> Current no. of hours spent </label>
                            <input type="text" id="current_hours_spent" ng-model="job.current_hours_spent" class="form-control">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="description">Description</label>
                            <textarea ng-model="job.description" id="description" class="form-control" rows="5"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label for="completed"> Completed? </label>
                            <input type="checkbox" id="completed" ng-model="job.completed" class="form-control">
                        </div>

                        <div class="form-group col-md-12">
                            <label for="job_type"> Job Type: </label>
                            <select ng-model="job.job_type" id="job_type" class="form-control">
                                <option value="p"> Paint </option>
                                <option value="pw"> Pressure Wash </option>
                                <option value="h"> Hourly </option>
                            </select>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="Estimator"> Estimator: </label>
                            <select ng-model="job.estimator.pk" id="Estimator" class="form-control"
                                    ng-options="estimator.pk as estimator.user.first_name for estimator in estimators">
                            </select>
                        </div>

                        <div class="form-group col-md-12">
                            <label for="Foreman"> Foreman: </label>
                            <select ng-model="job.foreman.pk" id="Foreman" class="form-control"
                                    ng-options="foreman.pk as foreman.user.first_name for foreman in foremen">
                            </select>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="panel-footer">
                <button class="btn btn-primary pull-right" ng-click="submit()">Submit</button>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</form>
