<div class="job-detail">
    <div class="body">
        <div class="title">
            {{ job.house.address }}
            <div id="completed" ng-if="job.completed == true"></div>
            <div id="not-completed" ng-if="job.completed == false"></div>
        </div>
        <div class="detail">
            <div>
                Budget: <b> {{ job.budget }} </b>
            </div>
            <div>
                Hours Spent: <b> {{ job.current_hours_spent }} </b>
            </div>
            <div>
                Estimator: <b> {{ job.estimator.user.first_name }} {{ job.estimator.user.last_name }}  </b>
            </div>
            <div>
                Job Type: <b> {{ job_type }} </b>
            </div>
            <div>
                Foreman: <b> {{ }} </b>
            </div>
        </div>
    </div>

    <canvas id="doughnut" class="chart chart-doughnut" data="data"
      labels="labels" width="200" height="200"></canvas>

    <button class="btn btn-default" ng-click="editJob()">Edit</button>

    <br>
    <br>
    <h2>Check-Ins</h2> <button class="btn btn-default" ng-click="textareashow = !textareashow">Add</button>
    <br>
    <div class="row" ng-show="textareashow">
        <div>
            <textarea class="form-control" rows="5" placeholder="Check-In" ng-model="checkInText"></textarea>
            <button class="btn btn-primary" ng-click="submitCheckIn()">Submit</button>
        </div>
    </div>
    <div class="container" id="check-ins">
        <div ng-repeat="checkin in job.check_ins" class="row">
            {{ checkin }}
        </div>
    </div>
</div>