<div class="jobs">
    <div class="category">
        On-Going
    </div>
    <div class="postings" ng-repeat="job in jobs">
        <div>
            <a ui-sref="jobs-detail({ pk: {{ job.pk }}})">
                <img ng-src="{{ job.images.urls[0] }}" height="72"> {{ job.house.address.line1 }}
            </a>
        </div>
    </div>

    <div class="completed" ng-if="hasCompleted">
        <div class="category">
            Completed
        </div>
        <div class="postings" ng-repeat="job in completedJobs">
            <div>
                <a ui-sref="jobs-detail({ pk: {{ job.pk }}})">
                    <img ng-src="{{ job.images.urls[0] }}" height="72"> {{ job.house.address.line1 }}
                </a>
            </div>
        </div>
    </div> 
</div>
