<div class="foreman-invite">
    <div class="title">
        <span>Enter the email of the employee you'd like to invite</span>
    </div>
    <form role="form">
        <div class="container">
            <div class="input-group">
                <input type="text" ng-model="email" class="form-control" placeholder="Email">
                <span class="input-group-btn">
                    <button type="submit" ng-click="submit()" class="btn btn-primary">Invite to Join</button>
                </span>
            </div>
        </div>
    </form>
</div>